@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    background-image: url("./blurry-gradient-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    width: 300px;
}

form label { 
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

form option{
    font-size: 18px;
    font-weight: 400;
}

.button{
    background-color: #001122;
    color: #fff;
}

.button:hover{
    background-color: #001122;
    color: #fff;
}